- today_data  = log_data[Date.today.strftime('%A').downcase]
- today_hours = today_data.sum(&:amount) if today_data.present?

- if today_data.present? && current_user.hours_of_work > today_hours
  .alert
    %strong
      Missing hours!!
    You need to enter #{convert_to_hours_format(current_user.hours_of_work - today_hours)} hours for today.

= form_tag root_path, class: 'form-inline pull-right range-worked-hours-form' do
  = label_tag :week_date, 'Hours by Week: '
  = text_field_tag :week_date, l(start_week_date), class: 'datepicker span2'
  = button_tag class: 'btn btn-primary' do
    %span.add-on
      %i.icon-search

%ul.nav.nav-tabs
  - current_week_range.to_a.reverse.each_with_index do |day, index|
    - link_name = day.strftime('%A').downcase

    %li{class: active_by_today_or_index(day, index)}
      = link_to day.strftime('%A'), "##{link_name}", 'data-toggle' => 'tab'

.tab-content
  - current_week_range.to_a.reverse.each_with_index do |day, index|
    - link_name = day.strftime('%A').downcase

    .tab-pane{class: active_by_today_or_index(day, index), id: link_name}
      %table.table
        %tr.gray
          %th Ticket
          %th Description
          %th Amount
          %th User
          %th Tag
          %th

        - data = log_data[link_name] || []
        - data.each do |wh|
          %tr
            - if wh.ticket
              %td= link_to wh.ticket, ticket_path(wh.ticket)
            - else
              %td None
            %td= wh.description
            %td= convert_to_hours_format(wh.amount)
            %td= link_to wh.user.name, user_path(wh.user)
            %td
              %span.label= wh.tag.name
            %td
              = link_to worked_hour_path(wh), method: :delete, confirm: 'Are you sure?', class: 'with-icon' do
                %i.icon-remove