%table.table
  %tr
    %th Feature
    %th Developer
    - tags.each do |tag|
      %th= tag.name
    %th Total Invested
    %th Estimated
    %th Difference

  - epic.tickets.each do |ticket|
    %tr.gray
      %td= link_to ticket, ticket_path(ticket)
      %td
      - hours = ticket.total_hours_by_tag
      - tags.each do |tag|
        %td= hours[tag.id] || 0
      %td.invested= hours[:total]
      %td= ticket.estimation
      - difference = ticket.estimation.to_f - hours[:total].to_f
      %td{ class: difference >= 0 ? 'green' : 'red' }= difference
    - ticket.workers.each do |user|
      %tr
        %td
        %td= link_to user, user_path(user)
        - hours = user.total_hours_by_tag(ticket.id)
        - tags.each do |tag|
          %td= hours[tag.id] || 0
        %td= hours[:total]
        %td
        %td

  %tr.totals
    %td
    %td Totals
    - hours = epic.total_hours_by_tag
    - tags.each do |tag|
      %td= hours[tag.id] || 0
    %td.invested= hours[:total]
    %td= epic.total_estimation
    - difference = epic.total_estimation.to_f - hours[:total].to_f
    %td{ class: difference >= 0 ? 'green' : 'red' }= difference
