%ul.nav.nav-tabs
  %li.active
    = link_to 'Horas', '#hours', 'data-toggle' => 'tab'
  - @epics.each do |epic|
    %li= link_to epic.system_ticket_id, "#epic-#{epic.id}", 'data-toggle' => 'tab'

.tab-content
  .tab-pane.active{id: 'hours', 'ng-app' => true}
    = render 'worked_hours/form'
    = render 'log', log_data: @log
  - @epics.each do |epic|
    .tab-pane{ id: "epic-#{epic.id}" }
      = render 'statistic', epic: epic, tags: @tags

= javascript_include_tag :worked_hours