%h2 Agregar hora

= simple_form_for @worked_hour, html: {class: 'form-inline'} do |f|
  = f.input :amount, default: 1.0
  = f.input :description
  = f.input :on, as: :string, input_html: {class: 'datepicker'}
  = f.association :ticket, collection: @tickets, include_blank: false
  = f.association :tag, collection: @tags, include_blank: false

  = f.submit 'Add', class: 'btn btn-primary'