= simple_form_for @worked_hour, html: {class: 'form-inline', 'ng-controller' => 'WorkedHoursCtrl'} do |f|
  = f.input :amount, default: 1.0, wrapper: :append, label: false do
    = text_field_tag :amount, nil, class: 'span1', placeholder: t('worked_hours.fields.number'), 'ng-model' => 'amount', 'ng-disabled' => 'disabled'
    %span.add-on.abbn Hrs.

  -# This is the amount of hours sent to the server
  = f.hidden_field :amount, value: '{{convertToNumber()}}'

  = f.input :description, as: :string, label: false, input_html: {placeholder: t('worked_hours.fields.description')}
  = f.input :on, as: :string, input_html: {value: l(Time.now), class: 'datepicker span2', placeholder: t('worked_hours.fields.date')}, label: false

  = f.association :ticket, collection: @tickets, label_method: :system_ticket_and_name, include_blank: t('worked_hours.fields.ticket'), label: false
  = f.association :tag, collection: @tags, include_blank: t('worked_hours.fields.tag'), label: false, input_html: {class: 'input-medium'}

  = button_tag class: 'btn btn-primary', 'ng-click' => 'submit()' do
    %i.icon-plus
%hr