%table.table.table-bordered{'ng-controller' => 'TicketsIndexCtrl', 'ng-init' => 'init(story.id)'}
  %thead
    %tr
      %th Ticket
      %th Estimation
      %th Actions
    %tr{'ng-controller' => 'TicketFormCtrl'}
      = form_tag '', class: 'form-inline', name: 'new_ticket_form' do
        %th
          = text_field_tag :display_name,  nil, class: 'input-xxlarge', 'ng-model' => 'ticket.display_name',
                                                placeholder: 'Name', 'ng-required' => true
        %th
          = text_field_tag :estimation,  nil, class: 'input-medium', 'ng-model' => 'ticket.estimation',
                                              placeholder: 'Estimation', 'ng-required' => true
        %th
          %button.btn.btn-primary.btn-mini{'ng-disabled' => 'new_ticket_form.$invalid',
                                           'ng-click' => 'submit()'}
            %span.add-on
              .icon-plus
  %tbody
    %tr{'ng-repeat' => 'ticket in tickets'}
      %td
        .non-editable{'ng-hide' => 'ticket.editing'}
          {{ticket.display_name | showValueOrNone}}
        .editable{'ng-show' => 'ticket.editing'}
          %input.input-xxlarge{'ng-model' => 'ticket.display_name'}
      %td
        .non-editable{'ng-hide' => 'ticket.editing'}
          {{ticket.estimation | hoursAndMinutes}}
        .editable{'ng-show' => 'ticket.editing'}
          %input.input-medium{'ng-model' => 'ticket.estimation'}
      %td
        .non-editable{'ng-hide' => 'ticket.editing'}
          = link_to '#', class: 'btn btn-mini btn-primary', 'ng-click' => 'ticket.editing=true;' do
            %i.icon-edit
          = link_to '#', class: 'btn btn-mini btn-danger', 'ng-click' => 'remove($index)' do
            %i.icon-remove

        .editable{'ng-show' => 'ticket.editing'}
          = link_to '#', class: 'btn btn-mini btn-primary', 'ng-click' => 'update($index)' do
            %i.icon-ok
