= link_to "Geo Tickets", root_path, :class => 'brand'

%ul.nav
  - if current_user
    %li
      = link_to('Logout', user_path(current_user.id), :method => 'delete')
    %li
      = link_to('Epics', epics_path)
    %li
      = link_to('Tickets', tickets_path)
    %li
      = link_to('Tags', tags_path)
