!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Geo Tickets"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{'ng-app' => 'Geoticket', 'ng-controller' => 'SprintContextCtrl'}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = link_to 'Geo Tickets', '/', class: 'brand'

          #top-menu-buttons-wrapper{'ng-controller' => 'TopMenuCtrl', 'ng-show' => 'authenticated'}
            %ul.nav
              %li
                = link_to 'Stories', '', 'ng-click' => 'redirectToStories()'
              %li
                = link_to 'Sprints', '', 'ng-click' => 'redirectToSprints()'
              %li
                = link_to 'Reports', '', 'ng-click' => 'redirectToReports()'

            %ul.nav.pull-right
              %li
                %a{href: '', 'ng-click' => 'logout()'}
                  %i.icon-signout

            #sprint-context-selector.pull-right
              %select.input-large{'ui-select2' => true, 'ng-model' => 'sprint.id',
                                  'ng-change' => 'changeSprint()',
                                  data: {placeholder: 'Select an Sprint'}}
                %option
                %option{'ng-repeat' => 'sprint in sprints', value: '{{sprint.id}}'}
                  {{sprint.display_name}}

    #main
      .container
        .content
          .row
            .span12
              #angular-js-app
                #angular-js-wrapper{'ng-view' => true}

          %footer